<!DOCTYPE html>
<html>
<head>
	<title>Thank You</title>
	<style>
		body {
			background-image: url("C:/Users/ANAND/OneDrive/Desktop/TRAVEL-WEBSITE/bg4.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			margin: 0;
		}
		h1 {
			font-size: 4rem;
			text-align: center;
			margin: 0;
		}
	</style>
</head>
<body>
	<h1>Thanks for booking your journey with us ✅</h1><br>
    <h2>Your journey is planned by us 😊</h2>
    <h3>Choose us every time </h3>
</body>
</html>
